<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/css/styles.css' />
    <link rel='icon' type='image/png' href='/logo.png' />
    <meta name='description' content='Payment Demo by mrdiin.dev' />
  </head>
  <body>
    {{{body}}}
  </body>
</html>